body{
    margin: auto;
    text-align: center;
    font-family: 'Rodondo', sans-serif;
                                                
}
table{
    margin: auto;
    text-align: center;
}
tr td{
    padding: 20px;
}
video{
    border-radius: 20px;
    border-style: solid;
    width: 350px;
}
video:hover{
    scale: 105%;
}

@media only screen and (max-width: 1200px) {
    td{
        display: block;
    }
  }